*.cm[iox]
*.o
parsing/parser.ml
parsing/parser.mli
parsing/lexer.ml
parsing/lexer.mli
utils/config.ml
raml/rpath.ml
*~
*_build
config/*.mk
compilerlibs
main
unit_test
*.opt
temp
releases
**.sw[poa]
*.merlin
*.vscode
*.log
.ocamlformat
lp_files/
.clang-format
